<mat-form-field
  class="select-search mat-app-background"
  [class.sticky]="sticky"
  appearance="outline"
>
  <mat-label>{{ placeholder }}</mat-label>
  <input
    #input
    matInput
    type="text"
    [formControl]="filter"
    (keydown.enter)="$event.stopPropagation(); selectFirstOption()"
    (keydown.space)="$event.stopPropagation();"
  />

  <button
    *ngIf="!!filter.value"
    type="button"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="reset()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="select-search-not-found mat-mdc-option" *ngIf="isNothingFound">
  <button type="button" mat-button disabled>
    {{ notFoundLabel }}
  </button>
</div>
